# QUESTION 1

In [1]:
import csv
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('D:\\country_vaccination_stats.csv')
data

,country,date,daily_vaccinations,vaccines
0,Argentina,12/29/2020,NaN,Sputnik V
1,Argentina,12/30/2020,15656.0,Sputnik V
2,Argentina,12/31/2020,15656.0,Sputnik V
3,Argentina,1/1/2021,11070.0,Sputnik V
4,Argentina,1/2/2021,8776.0,Sputnik V
...,...,...,...,...
1497,Wales,1/20/2021,11105.0,"Oxford/AstraZeneca, Pfizer/BioNTech"
1498,Wales,1/21/2021,12318.0,"Oxford/AstraZeneca, Pfizer/BioNTech"
1499,Wales,1/22/2021,15148.0,"Oxford/AstraZeneca, Pfizer/BioNTech"
1500,Wales,1/23/2021,17371.0,"Oxford/AstraZeneca, Pfizer/BioNTech"
1501,Wales,1/24/2021,17063.0,"Oxford/AstraZeneca, Pfizer/BioNTech"

In [3]:
data.sample(10)

,country,date,daily_vaccinations,vaccines
452,Finland,1/1/2021,459.0,Pfizer/BioNTech
559,Greece,1/13/2021,6308.0,Pfizer/BioNTech
1418,United Kingdom,1/21/2021,310246.0,"Oxford/AstraZeneca, Pfizer/BioNTech"
188,Chile,12/28/2020,2069.0,Pfizer/BioNTech
111,Brazil,1/24/2021,86373.0,Sinovac
1148,Saudi Arabia,1/16/2021,16843.0,Pfizer/BioNTech
654,Ireland,1/2/2021,550.0,Pfizer/BioNTech
148,Canada,12/21/2020,2938.0,"Moderna, Pfizer/BioNTech"
39,Austria,1/16/2021,7953.0,Pfizer/BioNTech
868,Mexico,12/26/2020,1300.0,Pfizer/BioNTech

In [4]:
data.isnull().any()

country               False
date                  False
daily_vaccinations     True
vaccines              False
dtype: bool

In [5]:
data['country']

0       Argentina
1       Argentina
2       Argentina
3       Argentina
4       Argentina
          ...
1497        Wales
1498        Wales
1499        Wales
1500        Wales
1501        Wales
Name: country, Length: 1502, dtype: object

In [6]:
data['country'].unique()

array(['Argentina', 'Austria', 'Bahrain', 'Belgium', 'Brazil', 'Bulgaria',
       'Canada', 'Chile', 'China', 'Costa Rica', 'Croatia', 'Cyprus',
       'Czechia', 'Denmark', 'Ecuador', 'England', 'Estonia', 'Finland',
       'France', 'Germany', 'Gibraltar', 'Greece', 'Hungary', 'Iceland',
       'India', 'Indonesia', 'Ireland', 'Isle of Man', 'Israel', 'Italy',
       'Kuwait', 'Latvia', 'Lithuania', 'Luxembourg', 'Malta', 'Mexico',
       'Netherlands', 'Northern Ireland', 'Norway', 'Oman', 'Panama',
       'Poland', 'Portugal', 'Romania', 'Russia', 'Saudi Arabia',
       'Scotland', 'Serbia', 'Seychelles', 'Singapore', 'Slovakia',
       'Slovenia', 'Spain', 'Sweden', 'Switzerland', 'Turkey',
       'United Arab Emirates', 'United Kingdom', 'United States', 'Wales'],
      dtype=object)

In [7]:
countries = data['country'].unique()

In [8]:
for c in countries:
    min_vac = data[data['country']==c].daily_vaccinations.min()
    if np.isnan(min_vac):
        print(c, " no vaccination..")
        values = {'daily_vaccinations': 0}
    else:
        print(c, "min vaccination: ", min_vac)
        values = {'daily_vaccinations': min_vac}
    data[data['country'] == c] = data[data['country'] == c].fillna(value=values)

Argentina min vaccination:  6483.0
Austria min vaccination:  3368.0
Bahrain min vaccination:  943.0
Belgium min vaccination:  1.0
Brazil min vaccination:  112.0
Bulgaria min vaccination:  472.0
Canada min vaccination:  866.0
Chile min vaccination:  51.0
China min vaccination:  187500.0
Costa Rica min vaccination:  240.0
Croatia min vaccination:  989.0
Cyprus min vaccination:  534.0
Czechia min vaccination:  1822.0
Denmark min vaccination:  1994.0
Ecuador min vaccination:  108.0
England min vaccination:  37625.0
Estonia min vaccination:  309.0
Finland min vaccination:  459.0
France min vaccination:  5000.0
Germany min vaccination:  19721.0
Gibraltar min vaccination:  520.0
Greece min vaccination:  549.0
Hungary min vaccination:  1339.0
Iceland min vaccination:  63.0
India min vaccination:  112150.0
Indonesia min vaccination:  11823.0
Ireland min vaccination:  550.0
Isle of Man min vaccination:  90.0
Israel min vaccination:  6887.0
Italy min vaccination:  926.0
Kuwait  no vaccination..
Latvia min vaccination:  338.0
Lithuania min vaccination:  311.0
Luxembourg min vaccination:  62.0
Malta min vaccination:  259.0
Mexico min vaccination:  1300.0
Netherlands min vaccination:  4000.0
Northern Ireland min vaccination:  1563.0
Norway min vaccination:  224.0
Oman min vaccination:  817.0
Panama min vaccination:  6.0
Poland min vaccination:  4300.0
Portugal min vaccination:  2791.0
Romania min vaccination:  712.0
Russia min vaccination:  3357.0
Saudi Arabia min vaccination:  14153.0
Scotland min vaccination:  3047.0
Serbia min vaccination:  1150.0
Seychelles min vaccination:  500.0
Singapore min vaccination:  2800.0
Slovakia min vaccination:  425.0
Slovenia min vaccination:  1270.0
Spain min vaccination:  41496.0
Sweden min vaccination:  3859.0
Switzerland min vaccination:  3000.0
Turkey min vaccination:  67192.0
United Arab Emirates min vaccination:  30698.0
United Kingdom min vaccination:  46423.0
United States min vaccination:  57909.0
Wales min vaccination:  1763.0

In [9]:
data.isnull().any()

country               False
date                  False
daily_vaccinations    False
vaccines              False
dtype: bool

# QUESTION 2

In [11]:
first_three_median = {}
for c in countries[0:3]:
    first_three_median[data[data['country']==c].median()[0]]=c
first_three_median

C:\Users\ilkim\AppData\Local\Temp\ipykernel_15040\1608115316.py:3: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  first_three_median[data[data['country']==c].median()[0]]=c

{11645.0: 'Argentina', 7850.0: 'Austria', 3662.0: 'Bahrain'}

In [12]:
for c in countries[3:]:
    if data[data['country']==c].median()[0] > min(first_three_median.keys()):
        first_three_median.pop(min(first_three_median.keys()))
        first_three_median[data[data['country']==c].median()[0]]=c
first_three_median

C:\Users\ilkim\AppData\Local\Temp\ipykernel_15040\415165422.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  if data[data['country']==c].median()[0] > min(first_three_median.keys()):
C:\Users\ilkim\AppData\Local\Temp\ipykernel_15040\415165422.py:4: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  first_three_median[data[data['country']==c].median()[0]]=c

{276786.0: 'China', 173922.0: 'India', 378253.0: 'United States'}

# QUESTION 3

In [15]:
data[data['date']=="1/6/2021"].daily_vaccinations

8         8173.0
29        3368.0
62        1594.0
86         736.0
121        472.0
164      14887.0
197        272.0
239     455357.0
267        763.0
287       1334.0
307        534.0
334       2439.0
364       8525.0
403      98984.0
431        589.0
457        839.0
479       8500.0
509      42015.0
552       2680.0
581       3959.0
607         63.0
658       1624.0
700     114634.0
730      45417.0
760        338.0
792        592.0
819         62.0
847        304.0
879       4027.0
899       4000.0
940       3954.0
969       1772.0
997       1280.0
1031     17723.0
1060      4416.0
1088      7555.0
1130     39532.0
1138     14153.0
1174      4858.0
1240      3309.0
1259      2110.0
1280     45248.0
1310      5165.0
1336      3000.0
1366     30698.0
1403    111155.0
1439    358887.0
1483      3359.0
Name: daily_vaccinations, dtype: float64

In [16]:
print("Total Vac: ",data[data['date']=="1/6/2021"].daily_vaccinations.sum())

Total Vac:  1485255.0